<div class="l-wrapper">
  <div class="header clearfix">
	<%= image_tag "cocoyan_logo_long", class: "logo"%>
	<div class="title">ユーザーを選択</div>
	<div class="control"></div>
	<div class="back">
	  <%= link_to image_tag('back'), root_path%>
	</div>
  </div>
  <div class="main">
	<% @friends.each_with_index do |friend, i| %>
	  <% if (i % 3) == 0 %>

		<div class="friends">
	  <% end %>
	  <div class="friend">
		<div class="inner">
		            <%= link_to image_tag(friend["profile_image_url"]) , friend_path(friend.username)%>
		</div>
	  </div>
	  <% if (i % 3) == 2%>
		</div>
	  <% end %>
	  <% if (i % 3) != 2 && @friends.length == i+1%>
  </div>
      <% end %>
	<% end %>
</div>
<div class="footer">
  <%= link_to 'ログアウト', destroy_user_session_path, :method => :delete, class: "logout" %>
</div>
</div>

