<div class="l-wrapper">
  <%= image_tag "cocoyan_log3.png", class: "logo"%>
  <div class="select_sns">
	Login
  </div>
  <div class="sns_buttons">
	<div class="sns_button">
	  <div class="inner">
		<%= link_to image_tag('TwitterLogo_white', class: "twitter"), user_omniauth_authorize_path(:twitter) %>
	  </div>
	</div>
  </div>
  <div class="description" style="text-align:center;">
	"COCO-YAN" は<br>Twitterから友達が<br>行きたかった場所を<br>一緒に探してくれます
  </div>
  <div class="footer">
	<a href="https://twitter.com/intent/tweet?original_referer=https%3A%2F%2Fcocoyan.herokuapp.com%2F&ref_src=twsrc%5Etfw&text=COCO-YAN&tw_p=tweetbutton&url=https%3A%2F%2Fcocoyan.herokuapp.com%2F" class="tweet_btn">ツイート</a>
	<a href="./about" class="about_link">アプリについて</a>
  </div>
</div>
